<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68058912781-kj8apqdmpvq6vc8i6sb9krcd8srt5vun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68058912781-kj8apqdmpvq6vc8i6sb9krcd8srt5vun</string>
	<key>API_KEY</key>
	<string>AIzaSyDOeQPW81hSmg3IObxPN_CgC982faeNTSo</string>
	<key>GCM_SENDER_ID</key>
	<string>68058912781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-af8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-af8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68058912781:ios:2379865460189202efdd44</string>
</dict>
</plist>